@model IEnumerable<Movie>
<h1>Movies List</h1>
<hr />
<a asp-area="Admin" asp-action="Create" asp-controller="Movie" class="btn btn-secondary"><i class="bi bi-plus-circle-fill"></i> Add</a>
<hr />
<table class="table table-hover table-bordered table-striped text-center">
    <thead>
        <tr class="table-dark">
            <th scope="col">Code</th>
            <th scope="col">Movie Name</th>
            <th scope="col">About</th>
            <th scope="col">Price (LE)</th>
            <th scope="col">Image</th>
            <th scope="col">IMDB Rate</th>
            <th scope="col">Status</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-active">
                <th scope="row">@item.Code</th>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.ImgUrl</td>
                <td>@item.Rate</td>
                <td>@item.Status</td>
                <td>@item.Category.Name</td>
                <td>
                    <a asp-area="Admin" asp-action="Edit" asp-controller="Movie" asp-route-id="@item.Id" class=" btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.Id" data-name="@item.Name" title="Delete">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the Category <strong id="categoryName"></strong>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a id="confirmDeleteButton" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var MovieId = button.data('id'); // Extract info from data-* attributes
            var Name = button.data('name');

            var modal = $(this);
            modal.find('.modal-body #categoryName').text(Name);
            modal.find('.modal-footer #confirmDeleteButton').attr('href', '/Admin/Movie/Delete/' + MovieId);
        });
    </script>
}



